<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.catfood.drol.querybilibili</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>690A6A4E-EA6C-4A3F-BEF6-AA52948FF4FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7CF61F8-CBC5-4895-BB03-DF37203BF194</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F497D3CF-1D67-46CF-BE0C-B642E4390EC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48E0AFC5-4E4B-40E1-BF37-148AF7BDDCC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Drol</string>
	<key>description</key>
	<string>bilibili弹幕网站搜索</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BilibiliQuery</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bb</string>
				<key>subtext</key>
				<string>在浏览器中访问bilibili.com</string>
				<key>text</key>
				<string>哔哩哔哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F497D3CF-1D67-46CF-BE0C-B642E4390EC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.bilibili.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>48E0AFC5-4E4B-40E1-BF37-148AF7BDDCC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://search.bilibili.com/all?keyword={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F7CF61F8-CBC5-4895-BB03-DF37203BF194</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>努力搜索中(ง •̀_•́)ง</string>
				<key>script</key>
				<string>python QueryBilibili.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入关键字搜索bilibili.com</string>
				<key>title</key>
				<string>哔哩哔哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>690A6A4E-EA6C-4A3F-BEF6-AA52948FF4FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>48E0AFC5-4E4B-40E1-BF37-148AF7BDDCC3</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>690A6A4E-EA6C-4A3F-BEF6-AA52948FF4FA</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F497D3CF-1D67-46CF-BE0C-B642E4390EC5</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>F7CF61F8-CBC5-4895-BB03-DF37203BF194</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
